extends layout

block body
  h1#title Mon/Exp/Ang Blog
  ul#navbar
    li.navItem
      a(href='/') home
    li.navItem
      a(href='/posts/new')  new post
    li.navitem
      input#postSearch(type='text', ng-model='search', placeholder='Search posts')

  div
    div(ng-view)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.11/angular-route.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.11/angular-resource.js')
  script(src='js/app.js')
  script(src='js/controllers/posts.js')
  script(src='js/services/posts.js')
  
