doctype html
html(ng-app='blogger')
  head
    meta(charset='utf-8')
    base(href='/')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    link(rel='stylesheet', type='text/css', href='css/buttons.css')
    title Some minblog
  body
    block body
