ul.border#posts
  li(ng-repeat='post in posts | filter:search')
    span.date {{post.cdate | date:"MMM d, y"}}
    h3.postTitle {{post.title}}
    a.button.orange.glossy.drop.sm(href="post/{{post['_id']}}")  to details...