h2.postTitle Edit a post
label(for='title') Title:
input(ng-model='post.title', name='title')
p Body:
textarea(ng-model='post.body', name='body', cols='50', rows='15')
p
  button.button.blue.brackets.md(ng-click='updatePost()') Submit Post